<h1>Time Quiz!</h1>

<form>
    <div class="form-group" id="question_group">
        <label for="question" class="timequizquestionlabel">Question: </label>
        <input type="text" id="question" class="timequizquestion form-control" readonly/>
        <button id="showAnswer" type="submit" class="btn btn-primary">Show answer</button>
    </div>

    <div class="form-group" id="answer_group" style="display: none">
        <label for="answer" class="timequizanswerlabel">Answer: </label>
        <input type="text" id="answer" class="timequizanswer form-control" readonly/>
        <button id="nextQuestion" type="submit" class="btn btn-primary">Next question</button>
    </div>
</form>


