<h1>Time Quiz!</h1>

<form>
    <div class="mb-3 question">
        <label for="question" class="form-label timequizquestionlabel">Question: </label>
        <input type="text" id="question" class="timequizquestion form-control" readonly/>
    </div>
    <div class="mb-3 question">
        <input type="button" id="showAnswer" class="btn btn-primary" value="Show answer"/>
    </div>
    <div class="mb-3 answer">
        <label for="answer" class="form-label timequizanswerlabel">Answer: </label>
        <input type="text" id="answer" class="timequizanswer form-control" readonly/>
    </div>
    <div class="mb-3 answer">
        <input type="button" id="nextQuestion" class="btn btn-primary" value="Next question"/>
    </div>
</form>


